<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sindoh.sdmes.repository.MesProcMapper">

    <!-- 파일 생성 -->
	<parameterMap id="creteMenuParameters" type="map">
		<parameter property="name"    	          	 jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="parent_id"    	         jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="seq"           		 jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="description"            jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
		<parameter property="x_result"  	         jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
		<parameter property="x_message"   	         jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
	</parameterMap>
	
	<update id="createMenu" statementType="CALLABLE"  parameterMap="creteMenuParameters">
	<![CDATA[
		{call f_create_menu(?, ?, ?, ?, ?, ?)}
	]]>
	</update>

    <!-- 파일 생성 -->
	<parameterMap id="getMenuDescParameters" type="map">
		<parameter property="description"          	 jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
		<parameter property="name"	    	         jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
	</parameterMap>
	
	<update id="getMenuDesc" statementType="CALLABLE"  parameterMap="getMenuDescParameters">
	<![CDATA[
		{? = call f_get_menu_desc(?)}
	]]>
	</update>
</mapper>